In [57]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [58]:
path = r'/Users/melissatoure/Documents/CF Data analytics program/Offical tasks reviewed /Data Immersion/Assigment off/Achievement 4 /4.3_orders_products'

In [59]:
#Import 'orders_products_combined' dataset 

df_orders_products_combined = pd.read_pickle(r'/Users/melissatoure/Documents/CF Data analytics program/Offical tasks reviewed /Data Immersion/Assigment off/Achievement 4 /4.3_orders_products/orders_products_combined.pkl')

In [60]:
# Import 'products_checked.csv' data 
df_products_checked = pd.read_csv(r'/Users/melissatoure/Documents/CF Data analytics program/Offical tasks reviewed /Data Immersion/Assigment off/Achievement 4 /Prepared Data/products_checked.csv', index_col = False)

In [61]:
#Check on the output 

df_orders_products_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [72]:
df_orders_products_combined.shape

(32434489, 12)

In [11]:
# Result of the checking : the output imported matche the output export from the other notebook.

In [ ]:
# 05. Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [63]:
#Check on the output 

df_products_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [64]:
df_products_checked.shape

(49672, 6)

In [81]:
# Merging the two data frames

df_merged_large = df_orders_products_combined.merge(df_products_checked, on = 'product_id', indicator = 'merge_status')

In [82]:
# Checking the output after the merging

df_merged_large.head()

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_status
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,both
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,both
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,both
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,both
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,both

In [83]:
df_merged_large.shape

(32404859, 18)

In [84]:
# Confirm the results of the merge using the merge flag - full match, by default Inner join.

df_merged_large['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [85]:
df_merged_large.to_pickle(os.path.join(path,'orders_products_merged.pkl'))